*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

body{
    background-color: #141414;
}

.container{
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
    max-width: 300px;
    margin: 50px auto;
    border-radius: 10px;
}

.class-one img{
    border-radius: 50%;
    width: 70px;
}

.class-two h3{
    color: white;
}

.class-two p{
    color: #799816;
}

.class-three p{
    color: white;
}

.class-four button{
    background-color: #333333;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

.class-five button{
    background-color: #333333;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.class-six button {
    background-color: #333333;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.class-seven button {
    background-color: #333333;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}



.class-eight button{
    background-color: #333333;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
